  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dataBinding">Data-Binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ng-class">Ng-Class</a>`
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ng-if">Ng-If</a>
          </li>
          <li class="nav-item">
           <a  class = "nav-link" routerLink="/signal">Signal</a>

          </li>
       
          <li class="nav-item">
            <a class="nav-link" routerLink="/LinkedSignal">Linked-signal</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/TempplateForm">Template-Form</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/reactiveForm">Reactive-Form</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> API call</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="'/get-api'">Get-Api</a></li>
              <li><a class="dropdown-item" [routerLink]="'/post-api'">Post-Api</a></li>
              <li><a class="dropdown-item" [routerLink]="'/customer'">customer</a></li>
              <li><a class="dropdown-item" [routerLink]="'/delete-api'">Delete-Api</a></li>
              
            </ul>
          </li>
          
        </ul>

      
        
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet> 