<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-warning">
                <h4>Customer List</h4>
            </div>
           <div class="card-body">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>Name</th>
                        <th> Mobile no</th>
                        <th>Email</th>
                        <th>city</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @for (item of customerArray; track $index) {

                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{item.customerName }}</td>
                            <td>{{item.mobileNo}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.customerCity}}</td>
                            
                        </tr>
                    }


                </tbody>
            </table>

           </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-warning">
                <h4> new Customer form</h4>
            </div>
           <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <label for="">Name</label>
                    <input type=" text "[(ngModel)]="costomerObj.customerName" class="form-control">
                </div>
                <div class="col-6">
                    <label for="">city</label>
                    <input type=" text "[(ngModel)]="costomerObj.customerCity" class="form-control">
                </div>
                <div class="col-6">
                    <label for="Name">Mobile no</label>
                    <input type=" text "[(ngModel)]="costomerObj.mobileNo" class="form-control">
                </div>
                <div class="col-6">
                    <label for="Name">Email</label>
                    <input type=" text "[(ngModel)]="costomerObj.email" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-6 text-center">
                    <button class="btn btn-success">Reset</button>
                </div>
                <div class="col-6 text-center">
                    <button class="btn btn-success" (click)="onSaveCustomer()">Save Customer</button>
                </div>

            </div>

           </div>
        </div>
    </div>


</div>
