<p>operators works!</p>
<div class="card">
<div class="row">
   
    <div class="col-3">
        <h4>1)Arithmetic Operators</h4>
        <h5> a+b= {{a+b}}</h5>
        <h5> a-b= {{a-b}}</h5>
        <h5> a*b= {{a*b}}</h5>
        <h5> a/b= {{a/b}}</h5>
        <h5> a%b= {{a%b}}</h5>
        <h5> a**b= {{getPower()}}</h5>
        

    </div>

    <div class="col-3">
        <h4>2) Comparision Operators</h4>
        <h5> a>b= {{a>b}}</h5>
        <h5> <span>a&It b= {{ a < b }}</span> </h5>
        <h5> a==b= {{a==b}}</h5>
        <h5> a===b= {{a===b}}</h5>
        <h5> a!=b= {{a!=b}}</h5>
        <h5>a!==b= {{a!==b}}</h5>
    </div>

    <div class="col-3">
        <h4>3) Logical operators</h4>
        <h5>x&&y= {{x && y }}</h5>
        <h5>x||y= {{x || y }}</h5>
        <h5>!x= {{!x }}</h5>
    </div>

    <div class="col-3">
        <h4>4) Bitwise Operators</h4>
        <h5>a&b= {{bitwiseAnd()}}</h5>
        <h5>a|b= {{bitwiseOr()}}</h5>
        <h5>a^b= {{bitwiseXor()}}</h5>
        <h5>~a= {{bitwiseNot()}}</h5>
        <h5>a << b= {{leftShift()}}</h5>
        <h5>a >> b= {{rightShift()}}</h5>
        
    </div>
</div>
<br>
   <div class="col-3">
        <h4>5)Assignment Operator</h4>
        <h5> num+=5 -- {{updatenum()}}</h5>
        <h5>num-=5 --{{updatenum1()}}</h5>
        <br>
        <h4>Ternary Operator</h4>
        <h5> {{ternaryOperTOR()}}</h5>
   


    </div>

</div>