
<div class="container">
    <h2>User Reactive Form</h2>
<form class="row g-3 " (ngSubmit)="onuserSave()" [formGroup]="userform">
    <div class="col-md-4">
      <label  >First name</label>
      <input type="text" formControlName="fname" class="form-control" >
    <div class="text-danger">
        @if(userform.controls['fname'].errors?.['required'] && userform.controls['fname'].touched)
        {
            <span>This is Required</span>
        }
        
    </div>
    </div>
    <div class="col-md-4">
      <label class="form-label">Last name</label>
      <input type="text" formControlName="lName" class="form-control" >
   <div class="text-danger">
    @if(userform.controls['lName'].touched)
    {
    @if(userform.controls['lName'].errors?.['required']){
        <span>This is Required</span>}

        @if(userform.controls['lName'].errors?.['minlength']){
            <span>Min 4 char required</span>
        }
    }
    
   </div>
    </div>
    <div class="col-md-4">
      <label  class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend"></span>
        <input type="text" formControlName="userName" class="form-control" >
       <div class="text-danger">
        @if(userform.controls['userName'].errors?.['pattern']){
            <span>Write Valid email</span>
        }
       </div>
      </div>
    </div>
    <div class="col-md-6">
      <label class="form-label">City</label>
      <input type="text" formControlName="city" class="form-control" >
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom04" class="form-label">State</label>
      <select  formControlName="state" class="form-select" >
        <option selected disabled value="">Choose...</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Goa">Goa</option>
        <option value="Punjab">Punjab</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom05" class="form-label">Zip</label>
      <input type="text" formControlName="zip" class="form-control" id="validationCustom05" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="isAgree" >
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" [disabled]="userform.invalid" type="submit">Submit form</button>
    </div>
  </form>
</div>